// general
.flex {
  display: flex;
}

// videos
.cutv_bulk_apply, .wpvr_manage_bulkApply {
  display: none !important;
}


// cutv dashboard
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
  height: inherit;
}
//
//.ui.items>.item .extra>* {
//  display: flex;
//  float: left;
//}

#wpcontent {

  .ui.label>.icon {
    margin: 0 .75em -0.75em 0;
  }
}

