
<div class="content column thirteen wide">
    <button class="ui small right icon red button" ng-click="deleteChannel()">
        <i class="trash icon"></i>
        Delete channel
    </button>
    <button class="ui small right icon blue button" ng-click="editSourceForm=!editSourceForm"  ng-hide="editSourceForm">
        <i class="edit icon"></i>
        Edit channel
    </button>

    <div class="ui buttons" ng-style="{'float':'right'}" ng-hide="!editSourceForm">
        <button class="ui button"ng-click="editSourceForm=!editSourceForm">Cancel</button>
        <div class="or"></div>
        <button class="ui positive button" ng-click="updateChannel()">Save</button>
    </div>

    <input type="text" ng-model="channel.playlist_name"  ng-hide="!editSourceForm" />
    <h3 class="header"  ng-hide="editSourceForm">{{channel.playlist_name}}</h3>

    <div class="ui form">
        <div class="inline field">
            <div class="ui toggle checkbox" ng-click="updateChannel()">
                <input type="checkbox" tabindex="0" class="hidden" ng-model="channel.enabled">
                <label>Toggle channel in the list on the website {{channel.enabled}}</label>
            </div>
        </div>
    </div>


    <div class="extra">
        <div class="ui labeled tiny icon">
            <i class="video icon"></i>
            {{(channel.counts.published) > 0 &&
            (channel.counts.published) || 'No'}} Videos
        </div>
        <div class="ui labeled tiny icon">
            <i class="folder open icon"></i>
            {{(channel.countAssignedSources) > 0 && (channel.countAssignedSources + '/' + channel.countAllSources) || 'No'}} Sources
        </div>
    </div>
    <div class="extra" ng-hide="editSourceForm">
        <div class="ui very relaxed list">
            <div class="item" ng-repeat="source in channel.sources" ng-if="source.selected">
                <div class="content">
                    <a class="header" href="/wp-admin/post.php?post={{source.ID}}&action=edit">{{source.name}}</a>
                    <div class="description" ng-switch="hasVideos(source)">
                        <div ng-switch-when="true">
                            {{(source.videos.published_count) > 0 && source.videos.published_count  || 'No'}} videos published from this source, {{(source.videos.unpublished_count) > 0 && source.videos.unpublished_count  || 'no'}} unpublished videos.
                        </div>
                        <div ng-switch-default>
                            No videos published form this source yet.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra" ng-hide="!editSourceForm">
        <div class="ui list columns">
            <h4 class="ui header">Assigned sources to attach</h4>

            <div class="item assigned" ng-repeat="source in channel.sources" ng-if="source.selected">
                <div class="ui checkbox">
                    <input type="checkbox" name="{{source.ID}}" ng-model="source.selected">
                    <label>{{source.name}}</label>
                </div>
            </div>
        </div>

        <div>
            <h4 class="ui header">Unassigned sources to attach</h4>
            <div class="ui small icon input">
                <input type="text" ng-model="query" placeholder="type to start filtering">
                <i class="search icon"></i>
            </div>
            <div class="ui list columns">

                <div class="item unassigned" ng-repeat="source in channel.sources | orderBy:'name':false | filter: query" ng-if="!source.selected">
                    <div class="ui checkbox">
                        <input type="checkbox" name="{{source.ID}}" ng-model="source.selected">
                        <label>{{source.name}}</label>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>