<div class="row">


    <div class="content column">
        <input type="text" ng-model="channel.playlist_name"/>
        <a class="header">{{channel.playlist_name}}</a>
        <div class="description">
            <p>{{channel.playlist_desc}}</p>
        </div>
        <div class="extra">
            <button class="ui labeled tiny icon button">
                <i class="video icon"></i>
                {{(channel.counts.unpublished+channel.counts.published) > 0 &&
                (channel.counts.unpublished+channel.counts.published) || 'No'}} Videos
            </button>
            <button class="ui labeled tiny icon button" ng-click="editSourceForm=!editSourceForm">
                <i class="folder open icon"></i>
                {{channel.source_count}} Sources
            </button>
        </div>
        <div class="extra">

            <form id="channel-source-form-{{channel.pid}}" action="cutv_update_source_categories" method="post"
                  class="source-form">
                <input type="hidden" name="channel_id" value="{{channel.pid}}">
                <div class="ui list">
                    <h4 class="ui header">Assigned sources to attach</h4>

                    <div class="item assigned" ng-repeat="source in channel.sources" ng-if="source.selected">
                        <div class="ui checkbox">
                            <input type="checkbox" name="{{source.ID}}" ng-model="source.selected">
                            <label>{{source.name}}</label>
                        </div>
                    </div>
                </div>

                <div class="ui list">
                    <h4 class="ui header">Unassigned sources to attach</h4>
                    <div class="item unassigned" ng-repeat="source in channel.sources" ng-if="!source.selected">
                        <div class="ui checkbox">
                            <input type="checkbox" name="{{source.ID}}" ng-model="source.selected">
                            <label>{{source.name}}</label>
                        </div>
                    </div>
                </div>

                <button class="ui button" type="button" ng-click="updateChannel(channel)">Submit</button>
                <!--<button class="ui button" type="submit">Submit</button>-->
            </form>
        </div>

    </div>
</div>